body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.graficos {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
.grafico1 {
    width: 40%;
    height: 50%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

.grafico2 { 
    width: 40%;
    height: 50%;
    border: 2px solid rgb(209, 209, 209);
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    background-color: aliceblue;
}

